body {
    font-family: 'Fira Mono', monospace;
    padding: 0; 
    margin: 0; 
    background-color: slategray;
}

#headline {
    color: white;
    text-align: center;
    font-size: xx-large;
    padding-top: 10px;
}

.container {
    margin:auto; 
    justify-content: center;
    align-items: center;
    display: flex; 
    max-width: 80%;
    border-radius: 5px;
    border: solid 2px black;
    padding: 30px;
    background-color: white;
    
}

#question {
    font-weight: 900;
    padding-bottom: 10px;
}

.button-grid {
    display:grid; 
    padding: 5px; 
}

.button {
    padding: 10px; 
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    background-color: aquamarine;
    border: solid 2px black;
    border-radius: 5px;
    font-family: 'Fira Mono', monospace;
}

.button:hover {
    background-color: slategray;
    color: white;
    border-color: aquamarine;
    font-size: larger;
    font-weight: bolder;
}

#start-button {
    align-items: center;
}

#highScoresButton {
    margin-left: 5px;
}

#highScoresButton:hover {
    background-color: black ;
}

.hide {
    display: none; 
}

#countdownContainer {
    font-weight: bolder;
    font-size: xx-large;
    background-color: black;
    color: aquamarine;
}

#results {
    font-weight: bolder;
    font-size: xx-large;
    background-color: aquamarine;
    color: black;   
}

#highScores {
    font-size: x-large;
    background-color: white;
    color: black; 
}
